<!doctype html>
<title>{% block title %}Welcome{% endblock %} | CSITwit</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>CSITwit</h1>
  <div class="navigation">
  {% if g.user %}
    <a href="/">my timeline</a> |
    <a href="/public">public timeline</a> |
    <a href="/logout">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="/public">public timeline</a> |
    <a href="/register">sign up</a> |
    <a href="/login">sign in</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    CSITwit &mdash; Flask Application, DevCamp 2nd Project
  </div>
</div>
